<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sx.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sx.pojo.Admin">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="telephone" property="telephone"/>
        <result column="address" property="address"/>
        <result column="enabled" property="enabled"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="userFace" property="userFace"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap id="AdminWithRole" type="com.sx.pojo.Admin" extends="BaseResultMap">
        <collection property="roles" ofType="com.sx.pojo.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, phone, telephone, address, enabled, username, password, userFace, remark
    </sql>
    <select id="getRoles" resultType="com.sx.pojo.Role">
        SELECT r.id, r.name
        FROM t_role As r
                 LEFT JOIN t_admin_role AS ar ON ar.rid = r.id
        WHERE ar.adminid = #{id}
    </select>
    <!--    获取所有操作员-->
    <select id="getAllAdmins" resultMap="AdminWithRole">
        SELECT a.*,
        r.id As rid,
        r.name as rname,
        r.nameZh as rnameZh
        from t_admin a
        LEFT JOIN
        t_admin_role ar on a.id = ar.adminId
        left join
        t_role r on ar.rid = r.id
        WHERE a.id!=#{id}
        <if test="null!=keywords and ''!=keywords">
            AND a.name LIKE CONCAT('%',#{keywords},'%')
        </if>
        ORDER BY a.id

    </select>


</mapper>
